name: odwise
description: A Flutter app for OD hour management

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  intl: ^0.18.1
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.1  # For opening Calendar links
  google_generative_ai: ^0.2.0  # Gemini AI integration

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true